body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}



.container {
    display: flex;
    gap: 4px;
    width: 90vw;

}

.panel  {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    flex: 0.6;
    margin: 10px;
    position: relative;
    transition: flex 0.5s ease-in;
    box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.3);
  }

  .panel.active  {
    flex: 3;
    box-shadow:  5px 5px 15px 0 rgba(0, 0, 0, 0.3);
  }

  .panel h3 {
    font-size: 32px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    display: none;
  }

  .panel.active h3 {
    display: block;
  }